@use "../abstraction/colors";

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    &__image {
        width: 5.5em;
        height: 5.5em;
    }
    &__avatar {
        border-radius: 50%;
        width: 100%;
        height: auto;
    }
    &__name {
        font-size: 1.5em;
        font-weight: 600;
        color: colors.$bright-white;
        padding-bottom: 0.375em;
        padding-top: 0.375em;
        margin-bottom: 0.25rem;
    }
    &__location {
        font-size: 0.875em;
        font-weight: 600;
        color: colors.$bright-green;
    }
    &__description {
        font-size: 0.875em;
        font-weight: 400;
        color: colors.$bright-white;
    }
}